.content-title{
margin: 0 0 42px;
object-fit: cover;
font-size: 42px;
color: springgreen;
}
.content-description{
margin: 0 0 80px;
max-width: 800px;
font-size: 20px;
line-height: 20px;
color: black;
}

.infocard{
display: flex;
align-items: center;   
justify-content: center; 
}

.inforcard-image{

margin-right: 100px;    
display: block;
max-width: 700px; 
height: 350px;
object-fit: cover;
}

.infocardtitle{

margin: 0 0 12px;
font-size: 30px;
color: crimson;

}

.inforcard-description{
margin: 0 0 24px;
max-width: 400px;
font-size: 17px;
line-height: 20px;
color: #111;
max-width: 400px;
}

.infocard-button{
display: flex;
justify-content: center;
align-items: center;
width: 130px;
height: 50px;
background: rgb(224, 159, 98);
font-size: 20px;
font-weight: 700;
color: aliceblue;
text-decoration: none;
text-transform: uppercase;
transition:background-color 0.2s linear
}
.infocard-button:hover{
background: #9e6700;
}

@media (max-width: 576px) {
    .content-title{
        margin-bottom: 32px;
        font-size: 32px;
        }

        .content-description{
            margin-bottom: 22px;
            }
    
            .infocard{
             flex-direction: column;

            }

            .inforcard-image{

                margin: 0 0 32px;
        
            }

                



}

@media (max-width: 992px){
    .infocard{
        flex-direction: column;

       }
       .inforcard-image{

           margin: 0 0 32px;
   
       }



}
    